.review-block
	margin-top: 40px
	&__top
		display: flex
		align-items: center
		justify-content: space-between
		margin: 0 -10px
		.review-name, .review-rating
			margin: 0 10px 10px
	&__bot
		p
			margin-top: 5px