@font-face {
    font-family: 'Anonymous Pro';
    src: url('fonts/AnonymousPro-Bold.eot');
    src: url('fonts/AnonymousPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/AnonymousPro-Bold.woff2') format('woff2'),
        url('fonts/AnonymousPro-Bold.woff') format('woff'),
        url('fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('fonts/Exo2-Bold.eot');
    src: url('fonts/Exo2-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Exo2-Bold.woff2') format('woff2'),
        url('fonts/Exo2-Bold.woff') format('woff'),
        url('fonts/Exo2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('fonts/AnonymousPro-Regular.eot');
    src: url('fonts/AnonymousPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/AnonymousPro-Regular.woff2') format('woff2'),
        url('fonts/AnonymousPro-Regular.woff') format('woff'),
        url('fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('fonts/Exo2-Regular.eot');
    src: url('fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Exo2-Regular.woff2') format('woff2'),
        url('fonts/Exo2-Regular.woff') format('woff'),
        url('fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Podkova';
    src: url('fonts/Podkova-Bold.eot');
    src: url('fonts/Podkova-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Podkova-Bold.woff2') format('woff2'),
        url('fonts/Podkova-Bold.woff') format('woff'),
        url('fonts/Podkova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



