@import "variables"
@import "functions"

@media screen and (max-width: 1800px)
	.container
		max-width: unset
		padding-left: 110px
		padding-right: 110px
		position: relative
		&.container-overlay
			&::before
				position: absolute
				content: ""
				top: 0
				bottom: 0
				left: 0
				right: 0
				background: rgba(0,0,0,0.4)
				display: block
				z-index: 12
		
	.common-section
		min-width: 840px
		
	.floating-section
		transform: translateX(1000px)
		position: absolute
		top: 0
		right: 110px
		z-index: 15
		
	.floating-visible
		transform: none
		
@media screen and (max-width: 1366px)
	.amanit-cart-table
		height: 250px
		
@media screen and (max-width: 1200px)
	.container
		padding-left: 60px
		padding-right: 60px
		
	.floating-section
		right: 60px
		
	
		

@media screen and (max-width: 980px)
	.common-section
		min-width: 100%
		
	.container
		padding: 0
		
	.floating-section
		right: 0
		min-width: 100%
		max-width: 100%
	
	#fast-access
		display: none
		
	.common-section__inner
		padding-right: 40px
		padding-left: 40px
		
	.floating-section-inner
		padding-right: 40px
		padding-left: 40px
		
	.footer
		padding-right: 40px
		padding-left: 40px
		
	.bottom-menu-full
		display: none
	
	.bottom-menu-short
		display: flex
		
	.common-section__inner.contact-page
		.container-inner
			padding-left: 40px
			padding-right: 40px
			
@media screen and (max-width: 720px)
	.common-section__inner
		padding-right: 20px
		padding-left: 20px
	
	.floating-section-inner
		padding-right: 20px
		padding-left: 20px
		
	.footer
		padding-right: 20px
		padding-left: 20px
		
	.common-section__inner.contact-page
		.container-inner
			padding-left: 20px
			padding-right: 20px
		
	.download-docs
		margin: 30px -20px 0
		
	.download-docs__item
		margin: 0 20px 30px
		
	.header
		padding-left: 30px
		padding-right: 30px
		height: 60px
		
	.header-right
		display: none
		
	.header-left
		width: 100%
		margin-right: 0
		
	.main-back
		padding-top: 60px
		
	.common-section
		> .scrollbar-inner
			height: calc(100vh - 80px)
			
	.cart-toggle-btn
		display: block
		width: 30px
		height: 30px
		background: url(../images/pic_basket2.svg) no-repeat center center
		margin-right: 15px
		cursor: pointer
		
	.menu-toggle-btn
		display: block
		width: 30px
		height: 30px
		background: url(../images/pic_menu.svg) no-repeat center center
		cursor: pointer
		
	.header-toggle-buttons
		display: flex
		
	.logo
		margin-bottom: 0
		
	.header-right
		position: absolute
		left: 0
		right: 0
		top: 100%
		height: calc(100vh - 60px)
		background-image: linear-gradient(-30deg, rgba(0, 174, 95, 0) 0%, #038881 50%, #0661a2 100%), url(../images/main-texture1.png), url(../images/main-texture2.png), linear-gradient(-30deg, #005032 0%, #0661a2 100%)
		padding: 30px
		
		
	.header-right-bottom
		display: none
		
	.main-menu
		display: block
		li
			margin-bottom: 30px
			
	.bottom-menu-full
		display: block
		li
			margin-bottom: 15px
			
	.mobile-cart-wrap
		position: absolute
		left: 0
		right: 0
		top: 100%
		height: calc(100vh - 60px)
		background-color: #fff
		
	.cart-paper
		&::after
			display: none
		&::before
			display: none
		width: 100%
		box-shadow: none
		
	.amanit-cart-table-wrap
		display: block